* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: floralwhite;
  border-radius: 10px;
  text-align: center;
}

h1 {
  margin: 2rem 0;
}

.form-container {
  text-align: start;
  margin: 15px 0;
}

.form-container > * {
  margin: 5px 0;
}

input:not([type="checkbox"]) {
  width: 100%;
  padding: 10px;
  border: burlywood 2px solid;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  color: white;
  padding: 10px;
  border: unset;
  border-radius: 5px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-green {
  background-color: teal;
  color: antiquewhite;
}

.btn-send {
  background-color: green;
  color: antiquewhite;
}

.btn-white {
  background-color: peru;
  color: black;
}

.btn-red {
  background-color: red;
  color: antiquewhite;
}

.preview {
  width: 800px;
  height: 500px;
  text-align: start;
}

.preview p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.thank-you-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: floralwhite;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 2rem;
}

.loading {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  border-top: 3px solid orange;
  border-right: 3px solid gray;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
